manifest {
    description = 'Runs TP visualization workflow'
    author = 'Patrick Pedrioli'
}

params {
    help = false
    data_folder = 'Data'
    r_scripts_folder = '/usr/local/bin/'
}

process.container = 'digitalproteomes/tp-viz'

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u)'
}
