manifest {
    description = 'Runs TP visualization workflow'
    author = 'Patrick Pedrioli'
}

params {
    help = false
    data_folder = 'Data'
    r_scripts_folder = '/usr/local/bin/'
    ref_start = 4	// 1 based 
    ref_end = 4		// 1 based 
    smpl_start = 5	// 1 based 
    smpl_end = 5 	// 1 based 
    sample_type = 'Melanoma'
}

//process.container = 'digitalproteomes/tp-viz'
process.container = 'ppatrick/tp-viz'

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u)'
}
